---
import LayoutDefault from '~/layouts/LayoutDefault.astro'
import ListSection from '~/components/ListSection.astro'
import ListItem from '~/components/ListItem.astro'
import { getNotes, formatDate } from '~/utils'

const notes = await getNotes()

const notesByYear = new Map<number, Post[]>()
notes.forEach((note: Post) => {
  const pubDate = note.data.pubDate ?? new Date()
  const year = pubDate.getFullYear()
  if (!notesByYear.has(year)) {
    notesByYear.set(year, [])
  }
  notesByYear.get(year)!.push(note)
})

const { translate: t } = Astro.locals
---

<LayoutDefault>
  <div un-flex="~ col gap-4">
    <div class="mb-4">
      <h1 class="text-2xl font-bold mb-2">{t('Notes')}</h1>
    </div>
    {
      Array.from(notesByYear.entries()).map(([year, notes]) => (
        <ListSection title={year}>
          {notes.map((note) => (
            <ListItem title={note.data.title} href={`/posts/${note.slug}/`} description={note.data.description} />
          ))}
        </ListSection>
      ))
    }
  </div>
</LayoutDefault>
